{% extends 'layout.htm' %}
{% block container %}
    <div class="page-title">
        <div class="title_left">
            <h3>Archive</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Filter</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form action="" method=get>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <input type="text" name="accession_number" id="accession_number" placeholder="Accession" class="form-control" value="{{ accession_number|default('', true) }}">
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <input type="text" name="patient_name" id="patient_name" placeholder="Patient" class="form-control" value="{{ patient_name|default('',true) }}">
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <input type="text" name="patient_id" id="patient_id" placeholder="Patient ID" class="form-control" value="{{ patient_id|default('',true) }}">
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <input type="text" name="station_name" id="station_name" placeholder="Station Name" class="form-control" value="{{ station_name|default('',true) }}">
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <input type="text" name="description" id="description" placeholder="Study Description" class="form-control" value="{{ description|default('',true) }}">
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group ">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                <input type="text" name="date_range" id="date_range" class="form-control" value="{{ date_from }} - {{ date_to }}">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <button type="button" onclick='resetClick()' class="btn btn-primary">Reset</button>
                            <button type="submit" class="btn btn-success">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table id="datatable" class="table table-bordered dataTable no-footer" width="100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Study ID</th>
                            <th>Accession</th>
                            <th>Study Date</th>
                            <th>Description</th>
                            <th>Station Name</th>
                            <th>Modalities</th>
                            <th>Patient Name</th>
                            <th>Patient ID</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>
        function datachildFormat ( d ) {
            return '<table id="datachild-'+String(d.id)+'" class="table dataTable no-footer" width="100%">' +
                    '<thead>' +
                    '<tr>' +
                    '<th>Series</th>' +
                    '<th>Description</th>' +
                    '<th>Modality</th>' +
                    '<th>Instance</th>' +
                    '</tr>' +
                    '</thead>' +
                    '</table>';
        }
        function resetClick() {
		  window.location = "/archive";
		}
        $(document).ready(function() {
            $('#date_range').daterangepicker({
                "locale": {
                    "direction": "ltr",
                    "format": "YYYY-MM-DD",
                    "separator": " to "
                },
                "startDate": "{{ date_from }}",
                "endDate": "{{ date_to }}"
            });
            var table = $('#datatable').DataTable( {
                ajax: {
                    "url": "/api/v1/study",
                    "data": {"q": JSON.stringify({"filters": [
                        {% if accession_number %}
                            {"name": "accession_number", "op": "like", "val": "%{{ accession_number }}%"},
                        {% endif %}
                        {% if patient_name %}
                            {"name": "patient_name", "op": "like", "val": "%{{ patient_name }}%"},
                        {% endif %}
                        {% if patient_id %}
                            {"name": "patient_id", "op": "like", "val": "%{{ patient_id }}%"},
                        {% endif %}
                        {% if description %}
                            {"name": "description", "op": "like", "val": "%{{ description }}%"},
                        {% endif %}
                        {% if station_name %}
                            {"name": "series", "op": "any", "val": {
                                "name" : "station_name", "op": "like", "val": "%{{ station_name }}%"
                            }},
                        {% endif %}
                        {"name": "datetime", "op": "ge", "val": "{{ date_from }} 00:00:00"},
                        {"name": "datetime", "op": "le", "val": "{{ date_to }} 23:59:59"}
                    ]
                    })},
                    "dataSrc" : "objects"
                },
                columns: [
                    {
                        "orderable": false,
                        "data": null,
                        "defaultContent": '<i data-toggle class="fa fa-plus-square-o" ' +
                        'style="cursor: pointer;"></i>'
                    },
                    { data: "id" },
                    { data: "accession_number" },
                    { data: "datetime" },
                    { data: "description"},
                    { data: "series[,].station_name","render": function ( data, type, full, meta ) {
                            return ($.unique(data.split(','))).join(',');
                        }
                    },
                    { data: "series[,].modality","render": function ( data, type, full, meta ) {
                            return ($.unique(data.split(','))).join(',');
                        }
                    },
                    { data: "patient_name" },
                    { data: "patient_id"}
                ],
                "order": [[1, "asc" ]]
            } );

            $('#datatable tbody').on('click', 'i[data-toggle]', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    $(this).addClass( 'fa-minus-square-o' ).addClass('fa-plus-square-o')
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    $(this).removeClass( 'fa-plus-square-o' ).addClass('fa-minus-square-o')
                    tr.addClass('shown');
                    row.child( datachildFormat(row.data()) ).show();

                    $('#datachild-'+String((row.data()).id)).DataTable( {
                        ajax: {
                            "url" : '/api/v1/study/'+String((row.data()).id) + '/series',
                            "dataSrc" : function(json) {
                                var item, data = [];
                                for (var i=0;i<json.objects.length;i++) {
                                    series = json.objects[i];
                                    instances = series.instances;
                                    for (var instance in instances) {
                                        item = {};
                                        item['series_number'] = series.number;
                                        item['series_description'] = series.description;
                                        item['modality'] = series.modality;
                                        item['instance_number'] = instances[instance].number
                                        data.push(item);
                                    }
                                }
                                return data
                            }
                        },
                        columns: [
                            { data: "series_number" },
                            { data: "series_description" },
                            { data: "modality" },
                            { data: "instance_number" }
                        ],
                        "paging":   false,
                        "info":     false,
                        "filter":   false,
                        "order": [[0, "asc" ]]
                    } );

                }
            });
        });
    </script>

{% endblock %}